@font-face {
    font-family: 'BrokenConsoleBold';
    src: url('ressources/fonts/Broken_Console_Bold.ttf');
}

body {
    margin: 0;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}